.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #f5f4f1;
    border: 1px solid #dfdddd;
    font-size: 22px;
    padding: 10px;
  }
  
  .num-0 {
    grid-column: 1 / 3;
  }
  
  .item:nth-child(4n-3) {
    background-color: #eca013;
  }
  
  .orange {
    background-color: #eca013;
  }
  